@import url(./token.css);
@import url(./components.css);
@import url(./home.css);
@import url(./auth.css);

.heading-1{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    line-height: var(--font-lineheight-h1);
    letter-spacing: var(--font-letterspacing-h1);
}
.heading-2{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--font-lineheight-h2);
    letter-spacing: var(--font-letterspacing-h2);
}
.heading-3{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--font-lineheight-h3);
    letter-spacing: var(--font-letterspacing-h3);
}
.heading-4{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    line-height: var(--font-lineheight-h4);
    letter-spacing: var(--font-letterspacing-h4);
}
.heading-5{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-h5);
    line-height: var(--font-lineheight-h5);
    letter-spacing: var(--font-letterspacing-h5);
}
.heading-6{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-h6);
    line-height: var(--font-lineheight-h6);
    letter-spacing: var(--font-letterspacing-h6);
}

.body-large-bold{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-large-bold);
    font-weight: var(--font-weight-body-large-bold);
    line-height: var(--font-lineheight-body-large-bold);
    letter-spacing: var(--font-letterspacing-body-large-bold);
}
.body-large-semibold{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-large-semibold);
    font-weight: var(--font-weight-body-large-semibold);
    line-height: var(--font-lineheight-body-large-semibold);
    letter-spacing: var(--font-letterspacing-body-large-semibold);
}
.body-large-medium{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-large-medium);
    font-weight: var(--font-weight-body-large-medium);
    line-height: var(--font-lineheight-body-large-medium);
    letter-spacing: var(--font-letterspacing-body-large-medium);
}
.body-large-reguler{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-large-reguler);
    font-weight: var(--font-weight-body-large-reguler);
    line-height: var(--font-lineheight-body-large-reguler);
    letter-spacing: var(--font-letterspacing-body-large-reguler);
}


.body-medium-bold{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-medium-bold);
    font-weight: var(--font-weight-body-medium-bold);
    line-height: var(--font-lineheight-body-medium-bold);
    letter-spacing: var(--font-letterspacing-body-medium-bold);
}
.body-medium-semibold{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-medium-semibold);
    font-weight: var(--font-weight-body-medium-semibold);
    line-height: var(--font-lineheight-body-medium-semibold);
    letter-spacing: var(--font-letterspacing-body-medium-semibold);
}
.body-medium-medium{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-medium-medium);
    font-weight: var(--font-weight-body-medium-medium);
    line-height: var(--font-lineheight-body-medium-medium);
    letter-spacing: var(--font-letterspacing-body-medium-medium);
}
.body-medium-reguler{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-medium-reguler);
    font-weight: var(--font-weight-body-medium-reguler);
    line-height: var(--font-lineheight-body-medium-reguler);
    letter-spacing: var(--font-letterspacing-body-medium-reguler);
}


.body-small-bold{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-small-bold);
    font-weight: var(--font-weight-body-small-bold);
    line-height: var(--font-lineheight-body-small-bold);
    letter-spacing: var(--font-letterspacing-body-small-bold);
}
.body-small-semibold{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-small-semibold);
    font-weight: var(--font-weight-body-small-semibold);
    line-height: var(--font-lineheight-body-small-semibold);
    letter-spacing: var(--font-letterspacing-body-small-semibold);
}
.body-small-medium{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-small-medium);
    font-weight: var(--font-weight-body-small-medium);
    line-height: var(--font-lineheight-body-small-medium);
    letter-spacing: var(--font-letterspacing-body-small-medium);
}
.body-small-reguler{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-small-reguler);
    font-weight: var(--font-weight-body-small-reguler);
    line-height: var(--font-lineheight-body-small-reguler);
    letter-spacing: var(--font-letterspacing-body-small-reguler);
}





